# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.DS_Store
containthedocs-cleanbuild.sh
containthedocs-bash.sh
containthedocs-build.sh
containthedocs-clean.sh
containthedocs-convert.sh
containthedocs-pdf.sh
containthedocs-pdf-perclass.sh
containthedocs-spelling.sh
.vscode/settings.json
docs/.DS_Store
containthedocs-cleanbuild.sh
containthedocs-bash.sh
containthedocs-build.sh
containthedocs-clean.sh
containthedocs-convert.sh
containthedocs-pdf.sh
containthedocs-pdf-perclass.sh
containthedocs-spelling.sh
notes.txt
.gitignore