# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.DS_Store
containthedocs-cleanbuild.sh
containthedocs-bash.sh
containthedocs-build.sh
containthedocs-clean.sh
containthedocs-convert.sh
containthedocs-pdf.sh
containthedocs-pdf-perclass.sh
containthedocs-spelling.sh
.vscode/settings.json
docs/.DS_Store
containthedocs-cleanbuild.sh
containthedocs-bash.sh
containthedocs-build.sh
containthedocs-clean.sh
containthedocs-convert.sh
containthedocs-pdf.sh
containthedocs-pdf-perclass.sh
containthedocs-spelling.sh
notes.txt
.gitignore
docs/_build/html/setup.html
docs/_build/doctrees/environment.pickle
docs/_build/doctrees/index.doctree
docs/_build/doctrees/intro.doctree
docs/_build/doctrees/setup.doctree
docs/_build/doctrees/class1/class1.doctree
docs/_build/doctrees/class1/module2/lab2.1.doctree
docs/_build/doctrees/class1/module2/lab2.2.doctree
docs/_build/doctrees/class1/module2/module2.doctree
docs/_build/doctrees/class1/module3/lab3.1.doctree
docs/_build/doctrees/class1/module3/module3.doctree
docs/_build/html/.buildinfo
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/intro.html
docs/_build/html/objects.inv
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/_build/doctrees/index.doctree
docs/_build/doctrees/environment.pickle
docs/_build/doctrees/intro.doctree
docs/_build/doctrees/setup.doctree
docs/_build/doctrees/class1/class1.doctree
docs/_build/doctrees/class1/module2/lab2.1.doctree
docs/_build/doctrees/class1/module2/lab2.2.doctree
docs/_build/doctrees/class1/module2/module2.doctree
docs/_build/doctrees/class1/module3/lab3.1.doctree
docs/_build/doctrees/class1/module3/module3.doctree
docs/_build/html/.buildinfo
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/intro.html
docs/_build/html/objects.inv
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/_build/html/setup.html
docs/_build/html/class1/class1.html
docs/_build/html/class1/module2/lab2.1.html
docs/_build/html/class1/module2/lab2.2.html
docs/_build/html/class1/module2/module2.html
docs/_build/html/class1/module3/lab3.1.html
docs/_build/html/class1/module3/module3.html
docs/_build/html/.buildinfo
docs/_build/doctrees/environment.pickle
docs/_build/doctrees/index.doctree
docs/_build/doctrees/intro.doctree
docs/_build/doctrees/setup.doctree
docs/_build/doctrees/class1/class1.doctree
docs/_build/doctrees/class1/module2/lab2.1.doctree
docs/_build/doctrees/class1/module2/lab2.2.doctree
docs/_build/doctrees/class1/module2/module2.doctree
docs/_build/doctrees/class1/module3/lab3.1.doctree
docs/_build/doctrees/class1/module3/module3.doctree
docs/_build/html/genindex.html
docs/_build/html/index.html
docs/_build/html/intro.html
docs/_build/html/objects.inv
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/_build/html/setup.html
docs/_build/html/class1/class1.html
docs/_build/html/class1/module2/lab2.1.html
docs/_build/html/class1/module2/lab2.2.html
docs/_build/html/class1/module2/module2.html
docs/_build/html/class1/module3/lab3.1.html
docs/_build/html/class1/module3/module3.html
